
body {
    color:white;
    background: black;
    margin: 0px;
    font-family: "Bebas Neue", sans-serif;
    margin-bottom: 100px;
 }
  
 
 
 header {
     border-bottom: solider 2px rgb(219, 8, 54);
     padding: 20px;
     font-size: 32px;
     color: rgb(235, 7, 49)
 }
 
 
 .chamada {
     background: rgb(235, 7, 49);
     padding-bottom: 80px;
     padding-top: 80px;
     display: flex;
     justify-content: center;
     font-size: 25px;
 }


 .chamada-texto { 
    margin-right: 0%;

 }
 h1 {
  font-size: 35px;
 }

 p {
   font-size: 20px;
 }

 .categoria-vídeos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
 }

 .categoria {
    padding-left: 2px;
    padding-right: 2px;
    margin-top: 50;
 }

 .categoria-vídeos img {
    opacity: 1, 0;
    height: 200px;
 }

 .categoria-vídeos img:hover {
    opacity: 0, 5;
    border: 3px;
 }

 .categoria h2{
    color: rbg(42, 122, 228);
 }
