body {
    color:white;
    background: black;
    margin: 0px;
    font-family: "Bebas Neue", sans-serif;
 }
  
 
 
 header {
     border-bottom: solider 2px rgb(219, 8, 54);
     padding: 20px;
     font-size: 32px;
     color: rgb(235, 7, 49)
 }
 
 
 .chamada {
     background: rgb(235, 7, 49);
     display: flex;
     justify-content: center;
 }


 .chamada-texto { 
    margin-right: 0%;

 }
 h1 {
  font-size: 35px;
 }

 p {
   font-size: 20px;
 }

 .categoria-vídeos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
 }

 .categoria {
    padding-left: 2px;
    padding-right: 2px;
 }

 .categoria-vídeos img {
    opacity: 0,5;
    height: 200px;
 }

 .categoria-vídeos img:hover {
    opacity: 1.0;
 }